html, body {
  height: 100%;
}

body {
  background-color: lightblue;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  font-size: .8em;
}

img {
  border-radius: 7px;
}

header {
  /* position: fixed; */
  width: 100%;
  border-radius: 12px;
  background-color: #4c6a99;
  border: solid 1px #707070;
  margin: 0 auto;
}

nav {
  display: inline-block;
  margin: 10px;
}

a {
text-decoration: none;
}

header a {
  border-right: 5px solid;
  border-radius: 2px;
  padding: 3px;
  font-size: 15px;
  color: #ffffff;
}

p {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 300px;
}

.mainp {
  text-align: justify;
  line-height: 25px;
  width: 450px;
}

table {
  background-color: #4c6a99;
  width: 400px;
  border-radius: 7px;
  border: 3px solid lightblue;
  padding: 3px;
}

.uppercase {
  text-transform: uppercase;
}

#wcontent ul, ol {
  background-color: #4c6a99;
  border-radius: 6px;
  width: 500px;
  margin: 0 auto;
}

.main-list li {
  color: white;
  background-color: black;
  margin: 0 auto;
  padding: 15px;
  width: 50%;
  border: 3px solid lightblue;
  border-radius: 10px;
  opacity: 0.8;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.container {
  background-color: white;
  text-align: left;
  width: 20%;
  height: auto;
  padding: 8px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 7px;
  clear: both;
}

.container input {
  display: block;
  width: 95%;
  background-color: #a1bdea;
  margin: 0 auto;
  padding: 9px;
  border-radius: 7px;
}

#submit {
  font-family: 'Roboto Mono', monospace;
  width: auto;
  text-transform: uppercase;
}

textarea {
  background-color: #a1bdea;
  display: block;
  border: 3px solid lightblue;
  border-radius: 5px;
  width: 95%;
  height: 150px;
  margin: 0 auto;
  padding: inherit;
  outline: none;
  resize: none;
  }
